---
import JsIcon from "../icons/JsIcon.astro"
---

<section class="flex flex-col gap-x-10 text-black">
    <div class="flex gap-x-4 items-center">
        <img class="" src="src/components/icons/Projects.png" alt="">
        <h1 class=" text-2xl font-bold">Proyectos</h1>
    </div>
    <div class="flex cursor-pointer mt-16 items-center">
        <a target="_blank"
            href="https://marketplace.visualstudio.com/vscode"
            class="cart-experience w-[350px] rounded-xl flex justify-center items-center text-center"
        > 
            <div class="w-full h-auto flex justify-center items-center flex-col">
                <img src="/images/krampus.png" alt="code"
                    class="w-[320px] h-[200px] rounded-xl"
                >
                    <h3 class="pt-4 font-semibold text-lg text-darkPink"> Pear Programing Krampus </h3>
                    <p class="flex w-[320px] pt-4">
                        Herramienta de colaboraci칩n en tiempo real con JavaScript y WebSockets,
                        permitiendo edici칩n simult치nea de documentos con sincronizaci칩n y manejo
                        eficiente de datos.
                    </p>
                    <div class="flex justify-center items-center text-center w-[320px] mt-4">
                        <JsIcon class="size-6"/>
                    </div>
                    <div class="card_experience-border"></div>
            </div>
        </a>
        <a  target="_blank"
            href="https://publico.transbank.cl/landing-onepay-referidos"
            class="cart-experience w-[350px] border-white/20 border-2 rounded-xl flex justify-center items-center text-center ">
            <div class="w-[344px] h-[463px] flex justify-center items-center text-center flex-col rounded-xl">
                <img src="/images/onepay.png" alt="code"
                    class="w-[320px] h-[200px] rounded-xl"
                >
                    <h3 class="font-semibold text-lg text-darkPink">Transbank Onepay</h3>
                    <p class="flex flex-wrap w-[320px] pt-4">
                        Billetera digital del banco de chile que permite a los usuarios 
                        realizar transacciones desde su celular, desarrollado en Java.
                    </p>
                    <div class="flex justify-center items-center text-center w-[320px] mt-4">
                    </div>
                    <div class="card_experience-border"></div>
            </div> 
        </a>
    </div>
</section>
