---
import { icons } from "./ArrayIcons.astro"
import "./styleSkills.css"
---
<section class=" md:w-full pb-16 relative overflow-hidden mt-10">
  <p class="pb-8 pt-2 md:text-lg pl-2 opacity-80">
    Ofrezco soluciones innovadoras y de alta calidad para asegurar el éxito en cualquier proyecto,
    creando interfaces tecnológicas intuitivas y modernas, además de desarrollar backends robustos y
    eficientes que garantizan un rendimiento óptimo e integración perfecta con las bases de datos y servicios.
  </p>
  <div class="container-skills relative rounded-2xl bg-gray-100/5 w-full flex p-8 gap-8 md:justify-around
  flex-wrap items-center justify-center text-center border border-white/10">
    {icons.map(({ component: IconComponent, name, size }) => (
      <div class="card flex flex-col items-center  hover:scale-110 transition-transform duration-500">
        <div class="card2">
        <IconComponent class={`${size} p-4`} />
        <span class="mt-2">{name}</span>
        </div>
      </div> 
    ))}
  </div>
</section>

  