---
import AboutIcon from "../icons/AboutIcon.astro"
---

<section class="sm:w-[400px] w-[380px] mx-auto md:w-[740px] py-28">
    <div class="flex gap-2">
        <AboutIcon class="size-8"/>
        <h2 class="text-2xl font-semibold pb-10">Sobre mí</h2>
    </div>
       <div class="flex md:flex-row flex-col">
        <p class="pb-8 pt-2 text-xl pl-4 md:w-[400px] w-[350px]">
            Mi enfoque está en diseñar soluciones que aseguren una funcionalidad excepcional
            y una experiencia de usuario fluida. 
            Busco soluciones innovadoras y prácticas que no solo mejoren la apariencia y usabilidad,
            sino que también garanticen un rendimiento óptimo en todos los dispositivos. 
            Mi objetivo es aportar mi habilidad para desarrollar aplicaciones escalables
            y de alta calidad, contribuyendo al éxito y la satisfacción del usuario final.
        </p>
        <img 
            src="/images/my-photo.png" 
            alt="my-photo"
            class="rounded-2xl w-[300px] h-[350px] object-cover md:ml-auto md:mr-2 ml-4"
        />
       </div>
</section>