---
import AboutIcon from "../icons/AboutIcon.astro"
---

<section class=" w-full text-black">
    <div class="flex gap-2">
        <AboutIcon class=""/>
        <h2 class="text-2xl font-semibold flex items-center">Sobre mí</h2>
    </div>
        <div class="flex md:flex-row mt-10 md:items-center">
            <p class="pb-8 pt-2 text-xl pl-4 w-[400px]  opacity-80 hidden md:block">
                Desarrolladora de Aplicaciones web inclusivas y accesibles para todos. Sé trabajar en equipos diversos y creo que la retroalimentación es esencial para mejorar. Mi objetivo es seguir evolucionando como profesional y contribuir a proyectos tecnológicos desafiantes.
            </p>
            <p class="flex items-center md:hidden ">
                Desarrolladora de aplicaciones web inclusivas y accesibles, con experiencia trabajando en equipos diversos. Creo que la retroalimentación es clave para crecer. Me apasiona seguir aprendiendo y contribuyendo en proyectos desafiantes.
            </p>
            <img
             
                src="/images/photo.jpeg" 
                alt="my-photo"
                class="rounded-2xl w-[300px] h-[350px] object-cover md:ml-auto md:mr-2 ml-4"
            />
        </div>
</section>