---
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CssIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import JsIcon from "../icons/JsIcon.astro";
import TsIcon from "../icons/TsIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import NextjsIcon from "../icons/NextjsIcon.astro";
import VueIcon from "../icons/VueIcon.astro";
import MongoIcon from "../icons/MongoIcon.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import ViteIcon from "../icons/ViteIcon.astro"
import NestJs from "../icons/NestJs.astro";
import Jest from "../icons/Jest.astro"
import ExpressIcon from "../icons/ExpressIcon.astro"
import NodeIcon from "../icons/NodeIcon.astro"
---

<section class="w-[360px] md:w-full pb-16">
    <p class="pb-8 pt-2 text-yellow-100/95 text-lg pl-2"> 
        Ofrezco soluciones innovadoras y de alta calidad
        para asegurar el éxito en cualquier proyecto 
        creando interfaces tecnologías intuitivas y modernas.
    </p>
    <div class="border rounded-xl border-gray-100/20 bg-white/10 w-full flex p-8 gap-8
        md:justify-around flex-wrap items-center justify-center text-center">
        <HtmlIcon class="size-12 md:size-24"/>
        <CssIcon class="size-12 md:size-24"/>
        <TailwindIcon class="size-12 md:size-24"/>
        <JsIcon class="size-12 md:size-24"/>
        <TsIcon class="size-12 md:size-24"/>
        <ReactIcon class="size-12 md:size-24"/>
        <NextjsIcon class="size-12 md:size-24"/>
        <VueIcon class="size-12 md:size-24"/>
        <MongoIcon class="size-12 md:size-20"/>
        <AstroIcon class="size-12 md:size-24"/>
        <ViteIcon class="size-12 md:size-24"/>
        <NestJs class="size-12 md:size-24"/>
        <Jest class="size-12 md:size-24"/>
        <ExpressIcon class="size-12 md:size-24"/>
        <NodeIcon class="size-12 md:size-20"/>
    </div>
</section>