---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero/HeroSection.astro";
import AboutMe from "../components/about/AboutMe.astro";
import Projects from "../components/projects/Projects.astro";
import Experience from "../components/experience/Experience.astro";
import Skills from "../components/skills/Skills.astro";
---

<Layout
  title="Portafolio Isabel Caballero - Desarrolladora y programadora web"
  description="Especializada en crear interfaces de usuario intuitivas, dinámicas y únicas."
>
  <main class="md:pt-40 md:gap-40 pt-30 gap-20">
    <!-- Sección Hero -->
    <section id="top" class="flex justify-center">
      <HeroSection />
    </section>

    <!-- Sección Acerca de mí -->
    <section id="about" class="flex justify-center">
      <AboutMe />
    </section>

    <!-- Sección Experiencia -->
    <section id="experience" class="flex justify-center">
      <Experience />
    </section>

    <!-- Sección Proyectos -->
    <section id="projects" class="flex justify-center">
      <Projects />
    </section>

    <!-- Sección Habilidades -->
    <section id="skills" class="flex flex-col items-center justify-center">
      <Skills />
    </section>
  </main>
</Layout>
