<a  class="rounded-full md:border border-softRed flex justify-center items-center md:gap-2 p-2
    hover:scale-105 transition md:hover:bg-softRed/20 cursor-pointer"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    >
    <slot/>
</a>