<header class="fixed z-20 bottom-0 md:h-24 md:top-0 w-full flex justify-center bg-black/85 shadow-xl shadow-gray-50/5">
    <div class="flex md:gap-x-0 items-center py-3 px-8 md:px-0 w-[400px] md:w-[750px]">
        <img 
            src="/images/my-photo.png" 
            alt="my photo"
            class="rounded-full md:size-16 size-10 md:ml-1 hidden md:block"
        />
        <nav class="flex md:flex-row md:gap-x-8 gap-x-6 opacity-80 md:ml-auto mr-2">
            <a href="#top" class="md:text-lg text-sm hover:underline hover:underline-offset-2">Inicio</a>
            <a href="#experience" class="md:text-lg text-sm hover:underline hover:underline-offset-2">Experiencia</a>
            <a href="#projects" class="md:text-lg text-sm hover:underline hover:underline-offset-2">Proyectos</a>
            <a href="#about" class="md:text-lg text-sm hover:underline hover:underline-offset-2">Sobre mí</a>
            <a href="#contact" class="md:text-lg text-sm hover:underline hover:underline-offset-2 hidden md:flex">Contáctame</a>
        </nav>
    </div>
</header>