<section>
    <h1 class="text-2xl font-semibold">
        Experiencia laboral
    </h1>
    <div>
        <div>
            <h2>Desarrollador Front-end</h2>
            <h3>Accenture</h3>
            <p> Me desempeñé como Frontend, 
                Trabajé rediseño de la plataforma web, aumentando la retención de usuarios en un 40%.
                Implementé SSR con Next.js y optimicé el rendimiento, 
                reduciendo tiempos de carga en un 30%. Además, 
                desarrollé una biblioteca de componentes reutilizables, 
                acelerando el ciclo de desarrollo en un 20%.
            </p>
        </div>
        <div>
            <h2>Desarrollador Front-end</h2>
            <h3>Prosercol Asesores</h3>
            <p>
                En [Nombre de la Empresa], mejoré la velocidad de carga del sitio en un 25%
                y contribuí a reducir el tiempo de desarrollo mediante la creación de componentes
                reutilizables. Además, implementé mejoras en la interfaz de usuario que 
                aumentaron la satisfacción del cliente y optimizaron la experiencia de navegación.
            </p>
        </div>
    </div>
</section>