---
import SocialLinks from "../social-links/SocialLinks.astro"
---

<footer class="hidden md:block mx-auto w-full text-gray-200 bg-black/70 shadow-xl shadow-gray-50/5 p-8" id="contact">
  <nav class="flex justify-center gap-x-12">
    <SocialLinks class="text-gray-200 gap-6" useSocialPill={false} />
  </nav>
</footer>
