.cart-experience {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 0;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
}

.card_experience-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background-image: linear-gradient(
        45deg,
        #D14D72,
        #FFABAB,
        #FFD3D3,
        #FCC8D1
    );
    border-radius: 1rem;
    animation: gradient-rotation 8s linear infinite;
}
