---
import '@fontsource-variable/onest';
import Header from '../components/header/Header.astro';
import Footer from "../components/footer/Footer.astro"
import SmokeBackgroud from '../components/SmokeBackgroud.astro';

interface Props {
	title: string;
	description:string;
}

const { title ,description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/images/Favicon.ico" type="imagen/x-icon" />
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<SmokeBackgroud/>
			<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	
	body {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  font-family: 'Onest Variable', sans-serif;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content:center;
		min-height: 100vh;
		padding: 2rem;
	}

	:root {
	--header-height: 8rem; 
	}

	html {
	scroll-padding-top: var(--header-height);
	}


  </style>
  